* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: consolas;
}
nav {
	position: relative;
	display: flex;
}
nav a {
	position: relative;
	margin: 0 20px;
	font-size: 2em;
	color: #000;
	text-decoration: none;
}
nav .marker {
	position: absolute;
	height: 4px;
	width: 0;
	background-color: #000;
	bottom: -8px;
	border-radius: 4px;
	transition: .5s;
}